/*  */  
body			{font-family:Arial,Helvetica,Geneva,sans-serif; font-size:14px; background-color:white; }

tr				{font-size:14px;}
tr.heading		{color:white; background-color:#325a87; }
tr.even			{color:black; background-color:white; }
tr.odd			{color:black; background-color:#E0E0E0; }
tr.evensmall	{color:black; background-color:white; font-size:12px; }
tr.oddsmall		{color:black; background-color:#E0E0E0; font-size:12px; }
tr.total		{font-weight: bold; color:white; background-color:white; }
tr.group		{font-style:italic; font-weight: bold; color:black; background-color:#FFFFD0; }
table.indent	{margin-left:4%;}

.cfg_pageheading{font-size:28px; font-weight:bold; color:#990000;}
.cfg_title		{font-size:19px; font-weight:bold; color:#002264;}
.cfg_label		{font-size:16px; font-weight:bold; color:#325a87;}
.cfg_pid		{font-size:16px; }
.cfg_desc		{font-size:16px; }
.cfg_picNote	{font-size:10px; text-align:center; }
.cfg_copyright	{font-size:10px; }

.sccr_dyn_heading {color:white; background-color:#325A87;font-weight:bold;font-size:11px; }
.sccr_dyn_evenSmall {font-size:11px;}

.sccr_blue_pageheading      {font-size:14pt; font-weight:bold; color:#325a87;}
.sccr_blue_title		    {font-size:10pt; font-weight:bold; color:#325a87;}
.sccr_blue_label		    {font-size:12pt; font-weight:bold; color:#325a87;}
.sccr_blue_text	    	    {font-size:10pt; font-weight:bold; color:#325a87;}
.sccr_black_pageheading     {font-size:12pt; font-weight:bold; color:#000000;}
.sccr_black_title		    {font-size:10pt; font-weight:bold; color:#000000;}
.sccr_black_text		    {font-size:10pt; font-weight:bold; color:#000000;}

a.cfg:link 		{font-size:14px; text-decoration:none; color:#325a87; }
a.cfg:visited	{font-size:14px; text-decoration:none; color:#002664; }
a.cfg:hover 	{font-size:14px; text-decoration:underline; color:#325a87; }
a.cfg_big:link 		{font-size:16px; text-decoration:none; color:#0000cc; }
a.cfg_big:visited	{font-size:16px; text-decoration:none; color:#0000cc; }
a.cfg_big:hover 	{font-size:16px; text-decoration:underline; color:#0000cc; }

.tabon {color:#990000; font-family:trebuchet ms,Verdana,Arial,Helvetica,sans-serif; line-height:10.75px; font-size:11px; font-weight:bold; text-decoration:none;}
.taboff {color:#333333; font-family:trebuchet ms,Verdana,Arial,Helvetica,sans-serif; line-height:10.75px; font-size:11px; font-weight:bold; text-decoration:none;}

